{% extends 'base.html.twig' %}

{% block title %}Workflow{% endblock %}

{% block body %}
    <h1>Workflow</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ workflow.id }}</td>
            </tr>
            <tr>
                <th>Uuid</th>
                <td>{{ workflow.uuid }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ workflow.number }}</td>
            </tr>
            <tr>
                <th>IsActive</th>
                <td>{{ workflow.isActive ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>IsClosed</th>
                <td>{{ workflow.isClosed ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>IsAttended</th>
                <td>{{ workflow.isAttended ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ workflow.state }}</td>
            </tr>
            <tr>
                <th>SubState</th>
                <td>{{ workflow.subState }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_workflow_index') }}">back to list</a>

    <a href="{{ path('app_workflow_edit', {'id': workflow.id}) }}">edit</a>

    {{ include('workflow/_delete_form.html.twig') }}
{% endblock %}
